@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: white;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F5F5;
    --foreground: white;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* For small devices */
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

/* For medium devices */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* For large devices */
@media (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}

 